body{
    background: #282828;
    color: #fabd2f;
    font-family: "Roboto Mono", monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

.image-header{
    padding-left: 12px;
}

#me{
    border-radius: 50%;
}

.body-text{
  margin: auto;
  width: 40%;
}

#workplace{
    color: #ebdbb2;
    font-size: 22px;
    margin: 0;
}

#date{
    color: #bdae93;
    font-size: 20px;

}

#job-details{
    font-size: 18px;
    list-style-type: "> ";
}

.skills{
    width: 20%;
    float: left;
    top: 30%;
    right: 75%;
    position:absolute;
}

.education{
    width: 20%;
    position: absolute;
    top: 30%;
    left: 75%;
}

div.bottom-watermark{
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  color: #665c54;
}

@media only screen and (max-width: 750px) {

  .header {
    display: block;
    text-align: center;
  }
  .body-text {
    padding-top: 40px;
    margin:auto;
    width: auto;
  }
  .skills{
    display: contents;
    width: inherit;
  }
  .education{
    display:contents;
    width: inherit;
  }
  .bottom-watermark{
    display:contents;
    position:fixed;
    bottom:0;
    width:100%;
    color: #665c54;
    font-size: 11px;
  }
}
